
 /* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --farve1: #FEF5EF;
  --farve2: #E1D3C2;
  --farve3: #F0E4D9;
  --font-farve: #514237;

    --logo-font: "Arial Narrow", Arial, sans-serif;
    --overskrift-font: "Avenir Next", Arial, sans-serif;
    --brødtekst-font: "Helvetica Neue", Arial, sans-serif;
}
 
 
 
 body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: var(--farve1);
      text-align: center;
    }
    
    h1 {
      color: var(--font-farve);
      margin-bottom: 10px;
      font-family: var(--overskrift-font);
    }

    p{
      font-family: var(--brødtekst-font);
    }

    a {
      display: inline-block;
      margin-top: 20px;
      padding: 12px 25px;
      background: var(--font-farve);
      color: #fff;
      border-radius: 30px;
      text-decoration: none;
      font-family: var(--overskrift-font);
    }
    a:hover {
      background: #7a6352;
    }